[class^="primary-bg"], [class*=" primary-bg"], .primary-bg--league-nhl {
 background-color: #D2D2D2;
 color: #fff;
}

.primary-bg--team-1,.primary-bg--team-njd {
 background-color:#CE1126
}
.primary-bg--team-2,.primary-bg--team-nyi {
 background-color:#003893
}
.primary-bg--team-3,.primary-bg--team-nyr {
 background-color:#0038A8
}
.primary-bg--team-4,.primary-bg--team-phi {
 background-color:#F74902
}
.primary-bg--team-5,.primary-bg--team-pit {
 background-color:#111111
}
.primary-bg--team-6,.primary-bg--team-bos {
 background-color:#111111
}
.primary-bg--team-7,.primary-bg--team-buf {
 background-color:#002654
}
.primary-bg--team-8,.primary-bg--team-mtl {
 background-color:#AF1E2D
}
.primary-bg--team-9,.primary-bg--team-ott {
 background-color:#CE1126
}
.primary-bg--team-10,.primary-bg--team-tor {
 background-color:#002868
}
.primary-bg--team-12,.primary-bg--team-car {
 background-color:#CE1126
}
.primary-bg--team-13,.primary-bg--team-fla {
 background-color:#002654
}
.primary-bg--team-14,.primary-bg--team-tbl {
 background-color:#002868
}
.primary-bg--team-15,.primary-bg--team-wsh {
 background-color:#CE1126
}
.primary-bg--team-16,.primary-bg--team-chi {
 background-color:#CE1126
}
.primary-bg--team-17,.primary-bg--team-det {
 background-color:#CE1126
}
.primary-bg--team-18,.primary-bg--team-nsh {
 background-color:#FCB514
}
.primary-bg--team-19,.primary-bg--team-stl {
 background-color:#002654
}
.primary-bg--team-20,.primary-bg--team-cgy {
 background-color:#CE1126
}
.primary-bg--team-21,.primary-bg--team-col {
 background-color:#75263D
}
.primary-bg--team-22,.primary-bg--team-edm {
 background-color:#00205B
}
.primary-bg--team-23,.primary-bg--team-van {
 background-color:#002868
}
.primary-bg--team-24,.primary-bg--team-ana {
 background-color:#111111
}
.primary-bg--team-25,.primary-bg--team-dal {
 background-color:#006847
}
.primary-bg--team-26,.primary-bg--team-lak {
 background-color:#111111
}
.primary-bg--team-28,.primary-bg--team-sjs {
 background-color:#006D75
}
.primary-bg--team-29,.primary-bg--team-cbj {
 background-color:#002654
}
.primary-bg--team-30,.primary-bg--team-min {
 background-color:#AF1E2D
}
.primary-bg--team-52,.primary-bg--team-wpg {
 background-color:#002654
}
.primary-bg--team-53,.primary-bg--team-ari {
 background-color:#8C2633
}
.primary-bg--team-54,.primary-bg--team-lvs,.primary-bg--team-vgk {
 background-color:#111111
}